.mb-10{
    margin-bottom: 10px;
  }
  .mr-10{
    margin-right: 10px;
  }
.menu{
    height: 50px;
    background: #00796b;
}
.menu a{
    font-size: 18px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;

}
.menu a:hover{
    color:tomato;
}
.leftnav li a{
    display: block;
    padding: 8px 0;
    line-height: 24px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    color: black;
}
.leftnav li a:hover{
    color: #00796b;
}
.sidebar ul li  {
    border-bottom: 1px solid #eee;
}
.sidebar ul li a  {
    color: black;
    text-decoration: none;
}
.sidebar ul li a:hover  {
    color: #00796b;
}
.posts ul{
    border-bottom: 1px solid #eee;
}
.posts ul a{
    color: black;
}
.posts ul a:hover{
    color: #00796b;
    text-decoration: none;  
}
.posts img{
    height: 150px;
}
._breadcrumb {
  
   background-color: white;
}
._breadcrumbs {
    line-height: 30px;
    border-width: 1px 0;
    clear: both;
}
._breadcrumbs a {
    font-size: .9em;
    color: #00796b;
    text-decoration: none;
}
._breadcrumbs a:after {
    content: ">";
    font-family: monospace;
    font-size: .9em;
    padding-left: 3px;
  
}
.postContent p {
    display: flex;
    
}
.container{
    padding: 0px !important;
}
a{  
    text-decoration: none !important;
}

.detail-menu,
.news-menu,
.navigation,
.list-news{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.detail-menu li{
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
}
.detail-menu li a,
.navigation li a{
    color: black;
    font-size: 17px;
}
.detail-menu li a:focus{
    color:  red;
}
.detail-menu li a .img-menu,
.navigation li a .img-menu{
    vertical-align: top;
    margin-right: 5px;
    height: 24px;
    width: 24px;
}
.news-menu li,
.list-news li{ 
    margin: 0;
    display: block;
    clear: both;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}
.news-menu li a{
    color: black;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}
.list-news-img{
    width: 80px;
    height: 80px;
    border-radius: 3px;
    float: left;
    margin: 0 10px 0 0;
    box-shadow: 0 0 1px #eee;
    overflow: hidden;
}
.navigation li{
    width: 50%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-tin-img{
    width: 200px;
    height: 200px;
    border-radius: 3px;
    float: left;
    margin: 0 10px 0 0;
    box-shadow: 0 0 1px #eee;
}
.news-title{
    font-size: 23px;
    color: black;
}


/* detail-news */
.detail-news-img{
    width: 100%;
}